<article id="users">
	<header>
		<h1>
			<%= @user.name %>
		</h1>
		<h2>
			<%= @user.email %>
		</h2>
		
		<% content_for(:side) do %>
			<% if @liked_events.any? %>
			<ul>
				<h2>Liked Events</h2>
				<% @liked_events.each do |event| %>
					<%= link_to event.name, event %>
				<% end %>	
			</ul>
			<% end %>
		<% end %>

		<h2>Registrations</h2>
		<ul>
			<% @registrations.each do |registration| %>
				<li><%= link_to registration.event.name, registration.event %></li>
				(<%= time_ago_in_words(registration.created_at) %> ago)
			<% end %>
		</ul>
	</header>
	<footer>
		<nav>
		<% if current_user?(@user) %>
			<%= link_to "Edit Account", edit_user_path(@user) %>
			<%= link_to "Delete Account", @user, method: :delete, data: {confirm: 'Are you sure>' } %>
		<% end %>
		</nav>
	</footer>
</article>