<article>
	<header>
		<h2><%= @event.name %></h2>
		<%= image_for(@event) %> 
		<h3><%= pluralize(@event.capacity, 'total spot') %></h3>
		<h3><%= pluralize(@event.spots_remaining, 'spot') %> available</h3>
	</header>
	<p>
		<%= truncate(@event.description, length: 35, separator: ' ') %>
	</p>
	<p>
		<%= pluralize(@likers.size, 'like') %>
	</p>

	<% if current_user %>
		<% if @current_like %>
			<%= button_to 'Unlike', event_like_path(@event, @current_like), method: :delete %>
		<% else %>
			<%= button_to 'Like', event_likes_path(@event) %>
		<% end %>
	<% end %> 

	<% if @likers.any? %>
		<h3>Likers</h3>
		<ul>
			<% @likers.each do |liker| %>
				<li><%= liker.name %></li> 
			<% end %>
		</ul>
	<% end %>
	<table>
		<tr>
			<th>When:</th>
			<td><%= @event.starts_at %></td>
		</tr>
		<tr>
			<th>Where:</th>
			<td><%= @event.location %></td>
		</tr>
		<tr>
			<th>Cost:</th>
			<td><%= format_price(@event) %></td>
		</tr>

	</table>	

	---
	<%= link_to "Who's Registered", event_registrations_path(@event) %>

	---
	<%= register_link(@event) %>
	
</article>
<% if current_user_admin? %>
	<%= link_to "Edit Event", edit_event_path %> |
	<%= link_to "Destroy Event", event_path(@event), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>